body{
	background-color:#ADD8E6;
	font-family: Arial;
	color: #000000;
	border: 5px solid black ;
    padding: 10px;
	box-shadow: 5px 10px 20px #888888;
}

h1 {
	font-size: 70px;
	text-align: center;
	font-family:Arial black;
	color: #FFFFFF 
	webkit-text: 1px black;
	color: white;
	text-shadow:
	 3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	
}


h1 {
	margin:0 0 1em 0;
	padding:0;
	font-size: 72px;
	text-align: center;
	font-family:Arial black;
	color: #FFFFFF 
	webkit-text: 1px black;
	color: white;
	text-shadow:
	 3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	position:relative;
	line-height:1;
	cursor:default;
	
}
h1:after {
	content:"";
	text-align: center;
	width:0%;
	height:8px;
	position: absolute;
	bottom:-10px;
	left:200px;
	right:1000px;
	background:black;
	background:  linear-gradient(45deg, rgba(247,221,37,1) 6%, rgba(248,151,20,1) 50%, rgba(145,13,6,1) 100%, rgba(69,106,252,1) 100%);
	border-radius:10px;
	transition:1s ease-in-out ;
}

h1:hover:after{
	width:65%;
}

h2 { 
	text-decoration: underline;
	text-decoration-color: red;
  :linear-gradient(to right,#FFFFFF,#e8ffff,#ADD8E6);
	font-size: 35px;
	text-align: left;
	font-family:Arial black;
	color: #FFFFFF 
	webkit-text: 1px black;
	color: #FFFFFF;
	text-shadow:
	 3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	
}

.box {
   border: 5px ridge red;
      padding: 10px;
      box-shadow: 5px 10px 10px #888888;
	  background-color: #e8ffff
}

.box2 {
	 border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #C04;  
  background-color:#e8ffff;
  width: 40%;
  height: auto;
  background: linear-gradient(to right,#FFFFFF,#e8ffff,#ADD8E6);
  }
  
.box3 {
	      border: 1px solid;
      padding: 1px;
      box-shadow: 1px 5px  #888888;
	
}
  
  
.image {
	margin:10px;

cursor:pointer;
border-radius:8px;
padding:3px;
width:700px;
max-width: 100%;
  height: auto;
filter: drop-shadow(5px 5px 5px #000000)
	
}
.image1 {
max-width:320px;
float: right;
margin-right:0px;

}