 body {
    background-color : #FF2400 ;
	font-family: arial ;
	color : #FFFF00 ;
}

h1 {
   text-decoration: underline ; 
   font-size: 70 px ; 
   text-align: center ; 
   font-family: comic sans MS ; 
}
	