body{
   background-color: #0000FF ;
   font-family : Arial,sans-sherif ;
   color : #FFFF00 ;
}

h1 {
   text-decorate: underline ;
   font-size: 70px ;
   text-align: center ;
   font-family: Arial,sans-sherif ;
}

   