body {
   background-color: #7328EF;
   font-family: comic sans MS;
   color: #76EE38;
}

h1 {
    text-decoration: underline;
    font-size: 70px;
    text-align: center;
    font-family: Arial;
} 	
