body {
            font-family: Arial, sans-serif;
            background-color: #E6DAD6;
            margin: 20px;
            text-align: center;
			color: #895129;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: #F5F5DC;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #895129;
        }
        ul {
            text-align: left;
        }
        button {
            background-color: #d2691e;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background-color: #a0522d;
        }
        .image {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .review {
            background: #f1f1f1;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
        }