body {
   backgroud-color: #C154C1;
   font-family: Arial;
   color: #FC6C85
}

h1 {
   text-decoration: underline;
   font-size: 70px;
   text-align: center;
   font-family: CENTURY SCHOOLBOOK;
}

img {
width : 25%;
}