@charset "utf-8";
/**---- Author : Jean-Manuel Mï¿½ny & Nicolas Buyle-Bodin ----- Groupe ISN-IREM ----- LYON ----**/


table{
	border: 1px solid black;
	width: 200px;
	}

td {
	border: 1px solid red;
	text-align: center;
	width: 25%;
	}