body { 
   background-color: #blue;
   font-family: comic sans MS ;
   color: #213a9c; 
}
 
h1 {
   text-decoration:underline;
   font-size:70px;
   text-align:center;
   font-family:comic sans MS;
} 