body {
   background-color : #FFB6B8 ;
   font-family : comic sans MS;
   color: #213a9c;
}
   
 h1 {
    text-decoration: unerline
    font-size: 70px;
	text-align: center;
	font-family: comic sans MS; 
}