body {
    background-color:"#FFB6B8; 
	font-family: comic sans MS;
	color: ##FFB6C1;
}
h1 {
   texte-decoration: underline;
   font-size: 70px;
   text-align: center;
   font-family: comic sans MS;
}
