body {
   background-color:#FFFFFF ;
   font-family: comic sans MS;
   color:#234BB3 ;
}

h1 {
    text-decoration: underline;
    font-size: 70px;	
	text-align: center;
	font-family: Arial;
}
	