
/* Dark mode */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #141414;
    --md-primary-fg-color:  #573D91;
    --md-accent-color: #FF5722 ;
  }

/* Light mode */
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #573D91;
    --md-accent-color: #FF5722;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 1px;
  border-radius: 18px;
  overflow: hidden;
}

.md-typeset .admonition {
  font-size: inherit; /* Taille du texte standard */
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1); /* Ombre diffuse */
}

/* Arrondir les bandeaux colorés (titres) des admonitions */
.md-typeset .admonition > .admonition-title {
  border-radius: 18px 18px 0 0 !important; /* Forcer l'arrondi des coins supérieurs */
  overflow: hidden;
  background-clip: padding-box;
  z-index: 1; /* S'assurer que le bandeau reste au-dessus */
}

/* Changer la couleur des liens normaux */
.md-typeset a {
  color: #7750cd !important; /* Couleur personnalisée pour les liens */
  text-decoration: none; /* Supprime le soulignement */
}

/* Changer la couleur des liens au survol */
.md-typeset a:hover {
  color: #5100ff  !important; /* Couleur au survol */
  text-decoration: none; /* Ajoute un soulignement au survol */
}

/* Masquer le TOC pour la page "EDS Mathématiques" */
[data-md-file="Maths_1e/index.md"] .md-sidebar__inner {
  display: none;
}

/*Custom admonition : methode*/
:root {
  /* Définir l'icône personnalisée pour l'admonition méthode */
  --md-admonition-icon--methode: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M469.3 19.3l23.4 23.4c25 25 25 65.5 0 90.5l-56.4 56.4L322.3 75.7l56.4-56.4c25-25 65.5-25 90.5 0zM44.9 353.2L299.7 98.3 413.7 212.3 158.8 467.1c-6.7 6.7-15.1 11.6-24.2 14.2l-104 29.7c-8.4 2.4-17.4 .1-23.6-6.1s-8.5-15.2-6.1-23.6l29.7-104c2.6-9.2 7.5-17.5 14.2-24.2zM249.4 103.4L103.4 249.4 16 161.9c-18.7-18.7-18.7-49.1 0-67.9L94.1 16c18.7-18.7 49.1-18.7 67.9 0l19.8 19.8c-.3 .3-.7 .6-1 .9l-64 64c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l64-64c.3-.3 .6-.7 .9-1l45.1 45.1zM408.6 262.6l45.1 45.1c-.3 .3-.7 .6-1 .9l-64 64c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l64-64c.3-.3 .6-.7 .9-1L496 350.1c18.7 18.7 18.7 49.1 0 67.9L417.9 496c-18.7 18.7-49.1 18.7-67.9 0l-87.4-87.4L408.6 262.6z"/></svg>');
  --md-admonition-icon--definition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 448c141.4 0 256-93.1 256-208S397.4 32 256 32S0 125.1 0 240c0 45.1 17.7 86.8 47.7 120.9c-1.9 24.5-11.4 46.3-21.4 62.9c-5.5 9.2-11.1 16.6-15.2 21.6c-2.1 2.5-3.7 4.4-4.9 5.7c-.6 .6-1 1.1-1.3 1.4l-.3 .3c0 0 0 0 0 0c0 0 0 0 0 0s0 0 0 0s0 0 0 0c-4.6 4.6-5.9 11.4-3.4 17.4c2.5 6 8.3 9.9 14.8 9.9c28.7 0 57.6-8.9 81.6-19.3c22.9-10 42.4-21.9 54.3-30.6c31.8 11.5 67 17.9 104.1 17.9zM128 208a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm128 0a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm96 32a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>')
}

.md-typeset .admonition.methode,
.md-typeset details.methode {
  border-color: #009900; /* Couleur de la bordure */
}

.md-typeset .methode > .admonition-title,
.md-typeset .methode > summary {
  background-color: rgba(0, 153, 0, 0.1); /* Couleur de l'arrière-plan du titre */
}

.md-typeset .methode > .admonition-title::before,
.md-typeset .methode > summary::before {
  background-color: #009900; /* Couleur de l'icône */
  -webkit-mask-image: var(--md-admonition-icon--methode);
          mask-image: var(--md-admonition-icon--methode);
}

.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color: #107fb3;
}

.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary {
  background-color: rgba(16, 157, 179, 0.1);
}

.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before {
  background-color: #107fb3;
  -webkit-mask-image: var(--md-admonition-icon--definition);
          mask-image: var(--md-admonition-icon--definition);
}

iframe.exerciseur {
  width: 100%;
  height: 650px;
  border: 1px solid #216C9A; 
  border-radius:18px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
}

img.image {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  border-radius: 18px; 
  border: 1px solid #5c1aac; 
  max-width: 100%;
}