body{
   background-color: #ee82ee;
   font-family:Arial;
   color: #OF5298;
}

h1{
   text-decoration: underline;
   font-size: 70px;
   text-align: center;
   font-family:Arial black;
}
 