body {
   background-color: #2c2c4b ;
   font-family: Arial ;
   color: #f7f7f2;
}

h1  {
	text-decoration: underline;
	font-size: 70px ; 
	text-align: center ;
	font-family: comic sans MS; 
	