body {
   background-color: #0000FF;
   font-family: Arial;
   color: #FFD700;
     }
	 
h1 {
     text-decoration: underline;
	 font-size: 70 px;
	 text- align: center;
	 font-family: comic sans MS;
	}